<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulário de Pedido</title>
</head>
<body>
    <h1>Formulário de Pedido</h1>
    <form th:action="@{/pedidos/salvar}" th:object="${pedido}" method="post">
        <input type="hidden" th:field="*{id}">
        <div>
            <label for="preco">Preço:</label>
            <input type="number" id="preco" th:field="*{preço}" required>
        </div>
        <div>
            <label for="cliente">Cliente:</label>
            <select id="cliente" th:field="*{cliente.id}" required>
                <option th:each="cliente : ${clientes}" th:value="${cliente.id}" th:text="${cliente.nome}"></option>
            </select>
        </div>
        <div>
            <button type="submit">Salvar</button>
        </div>
    </form>
    <a th:href="@{/pedidos}">Voltar para Lista de Pedidos</a>
</body>
</html>
