<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Formulário de Pedido</title>
</head>
<body>
    <h1>Formulário de Pedido</h1>
    <form th:object="${pedido}" th:action="@{/pedidos/novo}" method="post">
        <input type="hidden" th:field="*{id}">
        
        <label>Descrição:</label>
        <input type="text" th:field="*{descricao}">
        
        <label>Id do cliente:</label>
        <input type="text" th:field="*{cliente}">
        
        <label>Id do automóvel:</label>
        <input type="text" th:field="*{automovel}">
        
        <!-- Adicione outros campos aqui -->
        <button type="submit">Salvar</button>
    </form>
    <a th:href="@{/pedidos}">Voltar para a lista de pedidos</a>
</body>
</html>
